/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
body {
    font-size: 13px;
    line-height: 1.8;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
}

.jumbotron {
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.signin-content {
    padding-top: 67px;
    padding-bottom: 87px;
    display: -webkit-flex;
    background-color: white;
}

.signin-form h2 {
    font-size: 36px;
    font-weight: 700;
    font-family: "Poppins";
}

.signin-form {
    margin-right: 90px;
    margin-left: 80px;
    width: 50%;
    overflow: hidden;
}

.signin-image {
    margin-left: 110px;
    margin-right: 20px;
    margin-top: 10px;
    width: 50%;
    overflow: hidden;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.modal-text {
    font-family: 'Poppins', sans-serif;
}

.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin-bottom: 50px;
    text-align: center;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}


/* login */

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}

.login,
.image {
    min-height: 80vh;
}

.bg-image {
    background-image: url('assets/images/login.png');
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-size: 36px;
    font-weight: 700;
    font-family: "Poppins";
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    border-radius: 2rem;
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}


/* Fallback for Edge
  -------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}


/* Fallback for IE
  -------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}